@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.group-hover\:paused:hover {
    animation-play-state: paused;
}

.magnetic-wrap {
    perspective: 1000px;
}